button {
    display: inline-block;
    padding: 0.5em 0.5em;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #6B1A1A;
    background-color: #318034;
    border: none;
    border-radius: 0.5em;
    margin: auto;
  
  }
  
  button:hover {
      background-color: #639865
  }
  
  input[type="range"] {
      width: 22em;
  }
  
  #container{
      margin-top: 20em;
      margin-left: 10em;
  }